body{
	background-color: #fcebb6;
	color: #221811;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
	text-align: center;
	background-color: #d2b48c;

}
h1{
	line-height: 200%;
}
nav{
	text-align: center;
	font-weight: bold;
}
#wrapper{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
dt{
	font-weight: 700;
}

.footer{
	font-style: italic;
	font-size: .6em;
	background-color: #d2b48c;
	text-align: center;
}